.title {
  margin-top: 4rem;
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

.title {
  margin-top: 4rem;
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

.nav {
  background-color: #1E283D;
  padding: 8px;
  position: sticky;
  top: 0;
}

.menu {
  display: inline-block;
  background-color: #205484;
  border-radius: 8px;
}
.menu__icon {
  font-size: 1.5rem;
  padding: 8px;
  color: #fff;
}

.container-menu-mobile {
  visibility: hidden;
  position: absolute;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #205484;
  transform: translateX(-100%);
  transition: 0.3s all ease;
  overflow-y: auto;
  z-index: 100;
}

.container-menu-mobile--active {
  transform: translateX(0);
  visibility: visible;
}

.menu-mobile {
  color: #fff;
  margin-top: 4rem;
}
.menu-mobile__salir {
  display: flex;
  justify-content: right;
}
.menu-mobile__salir__icon {
  font-size: 2rem;
  padding: 1rem;
  color: #fff;
}
.menu-mobile__item {
  display: block;
  color: #fff;
  font-weight: 700;
  padding: 2rem 0rem;
  text-align: center;
  text-decoration: none;
}
.menu-mobile__item:hover {
  background-color: rgba(255, 255, 255, 0.0666666667);
}

.title {
  margin-top: 4rem;
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

.container__inicio {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inicio {
  display: flex;
  flex-direction: column;
  color: #fff;
}
.inicio__img {
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 50%;
  border: 5px solid #205484;
  background-color: #fff;
  overflow: hidden;
}
@media (min-width: 768px) {
  .inicio__img {
    width: 360px;
    height: 360px;
  }
}
.inicio__img__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.inicio__title {
  margin-top: 1rem;
  font-size: 2rem;
  text-align: center;
}
.inicio__profesion {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
}
.inicio__redes {
  margin-top: 1rem;
  text-align: center;
}
.inicio__redes__item {
  margin-left: 1rem;
  font-size: 2rem;
  color: #fff;
}
.inicio__button {
  font-size: 1rem;
  align-self: center;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  background-color: #205484;
  border: none;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.sobre-mi {
  color: #fff;
  padding: 1rem;
  max-width: 1200px;
  margin: auto;
  font-size: 1rem;
  line-height: 1.5em;
}
.sobre-mi__descripcion {
  margin-top: 2rem;
  background-color: rgba(255, 255, 255, 0.0666666667);
  padding: 1rem;
  border-radius: 8px;
}

.title {
  margin-top: 4rem;
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

.tecnologias__container-item {
  width: 100%;
  margin-top: 2rem;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tecnologias {
  color: #fff;
}
.tecnologias__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.tecnologias__item__logo {
  font-size: 4rem;
  z-index: 50;
}
.tecnologias__item__logo::before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  background-color: #fff;
}
.tecnologias__item__logo__github {
  color: #000;
}
.tecnologias__item__logo__html {
  color: #f33737;
}
.tecnologias__item__logo__css {
  color: #1a74e1;
}
.tecnologias__item__logo__sass {
  color: #d0a4a4;
}
.tecnologias__item__logo__sass::before {
  background-color: transparent;
  width: 100%;
}
.tecnologias__item__logo__js {
  color: #c5ec07;
}
.tecnologias__item__logo__js::before {
  width: 90%;
  height: 80%;
  border-radius: 0;
  background-color: #000;
}
.tecnologias__item__logo__node {
  color: #26967f;
}
.tecnologias__item__logo__node::before {
  background-color: transparent;
}
.tecnologias__item__logo__react {
  color: #6cc6f6;
}
.tecnologias__item__logo__react::before {
  background-color: transparent;
}
.tecnologias__item__logo__php {
  color: #6D7DB9;
}
.tecnologias__item__logo__php::before {
  background-color: transparent;
}
.tecnologias__item__descripcion {
  margin-top: 1rem;
  align-self: center;
  padding: 0.5rem 1rem;
  background-color: #205484;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.title {
  margin-top: 4rem;
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

.proyectos__container-item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}
@media (min-width: 768px) {
  .proyectos__container-item {
    grid-template-columns: 1fr 1fr;
  }
}

.proyectos__item {
  margin-top: 2rem;
  width: 100%;
}
.proyectos__item__img {
  display: flex;
  width: 100%;
  height: 240px;
  background-color: #fff;
  margin: auto;
  border-radius: 1rem;
  border: 3px solid #205484;
  overflow: hidden;
}
@media (min-width: 500px) {
  .proyectos__item__img {
    height: 360px;
  }
}
@media (min-width: 768px) {
  .proyectos__item__img {
    height: 360px;
  }
}
.proyectos__item__img__item {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.proyectos__item__title {
  margin-top: 1rem;
}
.proyectos__item__descripcion {
  margin-top: 1rem;
}
.proyectos__item__tecnologias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.proyectos__item__tecnologias__item {
  margin: 0.5rem 0.5rem;
  align-self: center;
  padding: 0.5rem 1rem;
  background-color: #205484;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.title {
  margin-top: 4rem;
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

.contacto {
  max-width: 1200px;
  margin: auto;
  padding: 0.5rem;
}
.contacto__descripcion {
  margin-top: 2rem;
  text-align: center;
}
.contacto__formulario {
  display: flex;
  flex-direction: column;
}
.contacto__formulario__label {
  margin-top: 2rem;
}
.contacto__formulario__input {
  margin-top: 1rem;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3333333333);
  color: #fff;
}
.contacto__formulario__textarea {
  margin-top: 1rem;
  background-color: transparent;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.3333333333);
  color: #fff;
}
.contacto__formulario__button {
  border: none;
  margin: 1rem 0rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  align-self: center;
  background-color: #205484;
  color: #fff;
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #1E283D;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

/*# sourceMappingURL=index.css.map */
