

@import 'variables';

.proyectos__container-item{

    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    max-width: 1200px;
    margin: auto;
    padding: 1rem;

    @media (min-width:768px) {
        
        grid-template-columns: 1fr 1fr;


        
    }
}

.proyectos{


    &__item{

        margin-top: 2rem;
        width: 100%;

        
        &__img{

            display: flex;

            width: 100%;
            height: 240px;
            background-color: #fff;
            margin: auto;
            border-radius: 1rem;
            border: 3px solid $color-secundary;

            overflow: hidden;

            @media (min-width:500px) {

                height: 360px;

        
            }

            @media (min-width:768px) {

                height: 360px;

        
            }

            &__item{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        
        &__title{
            margin-top: 1rem;
        }

        &__descripcion{
            margin-top: 1rem;
        }

        &__tecnologias{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 1rem;

            &__item{
                margin: .5rem .5rem;
                align-self: center;
                padding: .5rem 1rem;
                background-color: $color-secundary;
                font-size: 1rem;
                border-radius: .5rem;

            }
        }
    }

}