


.sobre-mi{

    color: #fff;
    text-align: center;
    padding: 8px;


    &__descripcion{

        margin-top: 2rem;
        background-color: #ffffff11;
        padding: .5rem;
        border-radius: 8px;

    }
}