*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
#cajita{

    border: 2px solid #000;
}


#contenedor{
    width: 100%;
    background:#000;
    position: sticky;
    top: 0;
}
#contenedor-hijo{
    width: 100%;


}

#contenedor-hijo p{
    color:#fff;
}

.texto{
    height: 100vh;
    
}